package timing_oracle_uniffi

// CGo linking configuration for timing_oracle_uniffi.
// This file is copied from cgo.go.template during binding generation.
//
// The library is expected to be built via:
//   cargo build --release -p timing-oracle-uniffi

/*
#cgo LDFLAGS: -L${SRCDIR}/../../../target/release -ltiming_oracle_uniffi
#cgo darwin LDFLAGS: -framework CoreFoundation -framework Security -lresolv
#cgo linux LDFLAGS: -ldl -lpthread -lm
*/
import "C"
