---
// Tacet logo in header - replaces default Starlight text title
---

<a href="/" class="site-title">
  <svg width="120" height="40" viewBox="0 0 644 257" fill="none" xmlns="http://www.w3.org/2000/svg" aria-label="Tacet">
    <path d="M260.877 174C255.018 174 250.323 172.32 246.791 168.96C243.258 165.514 241.492 160.948 241.492 155.262V113.52H221.074V102.923H241.492V82.8923H253.123V102.923H282.2V113.52H253.123V155.262C253.123 157.674 253.812 159.655 255.191 161.206C256.655 162.671 258.551 163.403 260.877 163.403H281.554V174H260.877ZM325.054 175.292C317.731 175.292 311.916 173.268 307.608 169.218C303.3 165.083 301.146 159.698 301.146 153.065C301.146 148.671 302.137 144.837 304.119 141.563C306.1 138.289 308.857 135.748 312.39 133.938C315.922 132.043 319.971 131.095 324.537 131.095H346.506V125.538C346.506 116.32 341.466 111.711 331.386 111.711C326.906 111.711 323.288 112.529 320.531 114.166C317.774 115.803 316.31 118.086 316.137 121.015H304.506C304.937 115.415 307.522 110.806 312.26 107.188C317.085 103.483 323.46 101.631 331.386 101.631C340.002 101.631 346.593 103.698 351.159 107.834C355.811 111.969 358.137 117.742 358.137 125.151V174H346.636V161.077H346.377C345.688 165.471 343.491 168.96 339.786 171.545C336.082 174.043 331.171 175.292 325.054 175.292ZM327.897 165.471C333.583 165.471 338.106 164.092 341.466 161.335C344.826 158.578 346.506 154.831 346.506 150.092V140.142H325.83C322.039 140.142 318.937 141.305 316.525 143.631C314.199 145.871 313.036 148.886 313.036 152.677C313.036 156.64 314.328 159.785 316.913 162.111C319.583 164.351 323.245 165.471 327.897 165.471ZM409.779 175.292C401.164 175.292 394.271 172.88 389.102 168.055C383.933 163.231 381.348 156.597 381.348 148.154V128.769C381.348 120.326 383.933 113.692 389.102 108.868C394.271 104.043 401.164 101.631 409.779 101.631C417.964 101.631 424.554 103.828 429.551 108.222C434.634 112.615 437.305 118.603 437.564 126.185H425.933C425.674 121.618 424.124 118.129 421.281 115.717C418.438 113.218 414.604 111.969 409.779 111.969C404.696 111.969 400.604 113.434 397.502 116.363C394.487 119.206 392.979 123.298 392.979 128.64V148.154C392.979 153.495 394.487 157.631 397.502 160.56C400.604 163.489 404.696 164.954 409.779 164.954C414.604 164.954 418.438 163.705 421.281 161.206C424.124 158.708 425.674 155.218 425.933 150.738H437.564C437.305 158.32 434.634 164.308 429.551 168.702C424.554 173.095 417.964 175.292 409.779 175.292ZM486.233 175.292C477.876 175.292 471.113 172.794 465.944 167.797C460.861 162.714 458.319 155.735 458.319 146.862V130.062C458.319 121.188 460.861 114.252 465.944 109.255C471.113 104.172 477.876 101.631 486.233 101.631C491.833 101.631 496.701 102.751 500.836 104.991C505.058 107.231 508.332 110.375 510.658 114.425C512.984 118.474 514.147 123.255 514.147 128.769V141.434H469.692V148.154C469.692 153.409 471.199 157.588 474.215 160.689C477.23 163.705 481.236 165.212 486.233 165.212C490.541 165.212 494.073 164.394 496.83 162.757C499.673 161.034 501.396 158.751 501.999 155.908H513.63C512.855 161.852 509.969 166.591 504.972 170.123C499.975 173.569 493.729 175.292 486.233 175.292ZM469.692 132.388H502.775V128.769C502.775 123.169 501.31 118.862 498.381 115.846C495.538 112.745 491.489 111.194 486.233 111.194C480.978 111.194 476.885 112.745 473.956 115.846C471.113 118.862 469.692 123.169 469.692 128.769V132.388ZM570.829 174C564.97 174 560.275 172.32 556.743 168.96C553.21 165.514 551.444 160.948 551.444 155.262V113.52H531.026V102.923H551.444V82.8923H563.075V102.923H592.152V113.52H563.075V155.262C563.075 157.674 563.764 159.655 565.143 161.206C566.607 162.671 568.503 163.403 570.829 163.403H591.506V174H570.829Z" fill="currentColor"/>
    <rect x="139" y="42" width="9" height="132" fill="currentColor"/>
    <rect x="126" y="174" width="9" height="35" transform="rotate(-90 126 174)" fill="currentColor"/>
    <rect x="126" y="47" width="9" height="35" transform="rotate(-90 126 47)" fill="currentColor"/>
    <circle cx="143" cy="106" r="10" fill="#FF6060"/>
    <rect x="68" y="83" width="9" height="132" fill="currentColor"/>
    <rect x="55" y="215" width="9" height="35" transform="rotate(-90 55 215)" fill="currentColor"/>
    <rect x="55" y="88" width="9" height="35" transform="rotate(-90 55 88)" fill="currentColor"/>
    <circle cx="72" cy="147" r="10" fill="#FF6060"/>
  </svg>
</a>

<style>
  .site-title {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--tacet-text-primary, #F5F5F5);
  }

  .site-title:hover {
    text-decoration: none;
    opacity: 0.9;
  }

  .site-title svg {
    height: 2.5rem;
    width: auto;
  }
</style>
